//- кнопки
mixin buttons(str)
  form.form
    //- input.button.button__title(type="button" value="войти")
    button.button.button_color_purple
      .button__title.button__title_color_white= str

//- кнопки
mixin btnBorder(str)
  form.form
    input.button.button__title(type="button" value=str)

+btnBorder("click me")
+buttons("click me")
+buttons("перейти к оплате")