.header {
    height: 70px;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.header__top-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 0 0 66.3448275862%;
}

.nav {
    display: flex;    
    text-transform: capitalize;
    color: $darkShade50;
}

.nav__item {
    color: $darkShade50;
    padding-right: 1.25rem;
    display: flex;
    //flex-direction: row;
    //align-items: flex-start;
}

.nav__item--current {
    font-weight: 700;
    color: $darkShade75;
}

.nav__link {
    color: inherit;
}

.nav__link_text-transform_none {
    text-transform: none;
}

.svg-position {
    width: 24px;
    height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    //vertical-align: text-bottom;
}

.svg-color {
    //color: $darkShade50;
    stroke: $darkShade50;
}

.line-position {
    margin-right: 20px;
}

.line-color {
    stroke: 1F2041;
}

.user-name {
    //font-family: 'Montserrat', serif;
    //font-weight: 400;
    //font-size: 14px;
    //line-height: 17.07px;
    text-transform: capitalize;
    color: $darkShade50;
}

.form {
    width: 39.5%;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    font-size: 100%;
    font-family: inherit;
    border: 0;
    outline: 0;
    padding: 0;
    color: $purple;
    background-color: #fff;
}

.button {
    height: 100%;
    padding: .5625rem 1.25rem .625rem;
    border-color: linear-gradient(180deg, $purple 0%, $neo 100%);
    border-radius: 22px;
    border: 2px solid;
}

    .button_color_purple {
        background: linear-gradient(180deg, $purple 0%, $neo 100%);
        //border-radius: 22px;
        border: none;
    }

.button__title {
    //font-family: 'Montserrat', serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 14.63px;
    text-transform: uppercase;
}

    .button__title_color_white {
        color: #fff;
    }