header
  .container
    nav.nav
      .nav-wrapper
          img.logo
          .top-menu
            include mixins
            form.form
              button.button.button_color_purple.button_border-color_purple
                .button__title= "войти"              
              button.button.button_color_white.button_back-color_purple
                .button__title= "зарегистрироваться"
            //- li.nav__item
              //- ul.nav__list more
                //- li.nav__item контакты
                //- li.nav__item ЧаВо
                //- li.nav__item блог
            //- li.nav__item
              //- img.nav__img(alt="корзина")