.nav {
    //border-top: 1px solid $mainFontColor;
    //border-bottom: 1px solid $mainFontColor;
    height: 70px;
    //margin-top: 200px;
}

.nav-wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 100%;
    height: inherit;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    content: url(Logo.svg);
    padding: 15px 0;
}

.top-menu {
    display: flex;
    /*justify-content: space-between;*/
    flex: 0 0 66.3448275862%;
    height: 34px;
}


.nav__list {
    height: inherit;
    flex: 0 0 447px;
    display: flex;
    /*flex-direction: row;
    justify-content: space-between;*/
    align-items: center;
    font-family: 'Montserrat', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17.07px;
    text-transform: capitalize;
    color: $darkShade50;
    //letter-spacing: 0.05em;
    //word-spacing: 0.5rem;
    //padding-right: 1.25rem;
}

.nav__item {
    color: $darkShade50;
    padding-right: 1.25rem;
}

.nav__item--current {
    font-weight: 700;
    color: $darkShade75;
}

.nav__link {
    color: inherit;
}

.svg-color {
    //color: $darkShade50;
    stroke: $darkShade50;
}

.form {
    height: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    font-size: 100%;
    font-family: inherit;
    border: 0;
    padding: 0;
    background-color: #fff;
}

.button {
    height: 100%;
}

.button__title {
    //height: .5rem;
    font-family: 'Montserrat', serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 14.63px;
    text-transform: uppercase;
    padding: .5625rem 1.25rem .625rem;
}

.button_color_purple {
    color: $purple;
}

.button_color_white {
    color: #fff;
}

.button_border-color_purple {
    border-color: linear-gradient(180deg, $purple 0%, $neo 100%);
    border-radius: 22px;
    border: 2px solid;
}

.button_back-color_purple {
    background: linear-gradient(180deg, $purple 0%, $neo 100%);
    border-radius: 22px;
}

/*
.nav__link:link {
    color: #2C2C2B;
}

.nav__link:visited {
    color: #2C2C2B;
}

.nav__link:hover {
    color: #FF8570;
}

.nav__link:active {
    color: #FF8570;
}

.active {
    color: #FF8570;
}

.nav__img {
    // content: url('/../img/image.png');
}
*/