include mixins

header
  .container
    nav.nav
      .nav-wrapper
          img.logo
          .top-menu
            //- include mixins
            +nav-list
            form.form
              button.button
                .button__title= "войти"
              button.button.button_color_purple.show
                .button__title.button__title_color_white= "зарегистрироваться"
            //- .user-logged= "user"