include mixins

header
  .container
    nav.nav
      .nav-wrapper
          img.logo
          .top-menu
            //- include mixins
            +nav-list
            +line-svg
            .user-name= "Юлий Цезарь"
            //- +form
            //- .user-logged= "user"