//- стрелочки вниз
mixin my-svg
  .svg-position
    svg(viewBox="0 0 100 100" width="12" height="10.5")
      line.svg-color(x1="0" y1="30" x2="52" y2="82" stroke="black" stroke-width="20")
      line.svg-color(x1="52" y1="68" x2="90" y2="30" stroke="black" stroke-width="20")

//- горизонтальная линия
mixin line-svg
  .line-position
    svg(viewBox="0 0 1 30" width="1" height="30")
      line.line-color(x1="1" y1="30" x2="1" y2="0" stroke="gray" stroke-width="1")

//- меню в заголовке
mixin nav-list
  ul.nav
    li.nav__item.nav__item--current
      a(href="./index.html", target="_self").nav__link.active= "о"
        span.nav__link_text-transform_none= " нас"
    li.nav__item
      a(href="./uslugi.html").nav__link= "услуги"
      +my-svg
    li.nav__item
      a(href="./vacancy.html").nav__link= "вакансии"
    li.nav__item
      a(href="./news.html").nav__link= "новости"
    li.nav__item
      a(href="./tassel.html").nav__link= "соглашения"
      +my-svg

//- кнопки войти и зарегистрироваться
mixin form
  form.form
    button.button
      .button__title= "войти"
    button.button.button_color_purple.show
      .button__title.button__title_color_white= "зарегистрироваться"