//- стрелочки вниз
mixin my-svg
  .header__svg-position
    svg(viewBox="0 0 100 100" width="12" height="10.5")
      line.header__svg-color(x1="0" y1="30" x2="52" y2="82" stroke="black" stroke-width="20")
      line.header__svg-color(x1="52" y1="68" x2="90" y2="30" stroke="black" stroke-width="20")

//- горизонтальная линия
mixin line-svg
  .header__line-position
    svg(viewBox="0 0 1 30" width="1" height="30")
      line.header__line-color(x1="1" y1="30" x2="1" y2="0" stroke="gray" stroke-width="1")

//- кнопки войти и зарегистрироваться
mixin buttons-signin-and-signup
  form.form
    input.button.button__title(type="button" value="войти")
    button.button.button_color_purple
      .button__title.button__title_color_white= "зарегистрироваться"