.container_border-bottom {
    border-bottom: 1px solid $darkShade10;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    //grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 3.5%; //calc(2.7vw); //2.85rem 3.1rem;
    padding: 104px 0 100px 0;

    &__logo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__descr {
        width: calc(18vw + 0.812px); //18vw(size width screen 1440px)=259.188px
        color: $darkShade75;
        line-height: 1.71428;
        margin: 20px 0;
        outline: none;

        &_height {
            height: 5vw;
        }

        &_margin_bottom-21 {
            margin-bottom: 21px;
        }
    }

    &__form {
        width: inherit;
        height: 44px;
        display: flex;
        justify-content: flex-end;
    }

    &__email {
        font-family: 'Montserrat', serif;
        color: $darkShade25;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        padding: 0.7rem 3rem 0.7rem 1rem;
        border-radius: 4px;
        border: 1px solid $darkShade25;
        box-sizing: border-box !important;
        width: 18vw;
        height: inherit;
        position: absolute;
        //z-index: -1;
    }

    &__btn {
        //display: inline-block;
        background: transparent;
        //color: inherit;
        //width: 44px;
        height: inherit;
        //transition: all 200ms ease-in;
        cursor: pointer;
        box-sizing: border-box;

        &--inside {
            //position: relative;
            z-index: 1;
            //margin-left: -96px;
            //right: 0;
        }

        &:hover {
            //background: $purple;
            //height: inherit;
        }

        &:active {
            //height: inherit;
        }
    }

    &__nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        //text-transform: capitalize;
        height: 168px;
        padding-top: 5px;

        &:nth-child(3n+1) {
            padding-bottom: 35px;
        }

        &_justify-content_none {
            justify-content: start;
        }
    }


    &__link {
        color: $darkShade50;
        //text-transform: none;
        &_header {
            color: $darkShade100;
            font-weight: 700;
            font-size: 12px;
            line-height: 14.63px;
            text-transform: uppercase;
        }
    }
}

.arrow-svg {
    //width: 44;
    //height: 44;
    stroke: $purple;
}